.redact {
    color: black;
    background-color: black;
    -webkit-touch-callout: none;
    /* Safari on iOS */
    -webkit-user-select: none;
    /* Chrome, Safari, Opera */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Standard syntax */
}